<script>
import {mapGetters} from "vuex"

export default {
  // props: {idNews: String},
  name: "ViewCalendar",
  components: {},
  computed: mapGetters(['getAllEvents', 'getDate']),
  data() {
    return {
      date: new Date()
    }
  },
  mounted() {
    this.$store.dispatch('getAllEventAction')
  },
  methods: {
    getDaysInMonth() {
      return new Date(this.getDate.getFullYear(), this.getDate.getMonth() + 1, 0).getDate();
    },
    getMonthName() {
      return new Date(this.getDate.getFullYear(), this.getDate.getMonth() + 1, 0).toLocaleDateString('default', {month: 'long'})
    },
    addOneMonth() {
      this.$store.dispatch('setDateAction', new Date(this.getDate.getFullYear(), this.getDate.getMonth() + 2, 0))
    },
    minusOneMonth() {
      this.$store.dispatch('setDateAction', new Date(this.getDate.getFullYear(), this.getDate.getMonth(), 0))
    },
    findEvent(day) {
      const nowStart = new Date(this.getDate.getFullYear(), this.getDate.getMonth(), day, 23, 59, 59);
      const nowEnd = new Date(this.getDate.getFullYear(), this.getDate.getMonth(), day, 0, 0, 0);
      const validDates = this.getAllEvents.filter((event) => {
        let start = new Date(event.startDate);
        let end = new Date(event.endDate);
        return nowStart > start && nowEnd < end;
      });
      return validDates
    }
  }
}
</script>

<template>
  <div class="container">
    <div class="row  py-3">
      <div class="col d-flex justify-content-start">
        <button class="btn btn-success" @click="minusOneMonth">Preview</button>
      </div>
      <div class="col d-flex justify-content-center"><h2>{{ getMonthName() }}</h2></div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-success" @click="addOneMonth">Next</button>
      </div>
    </div>
    <div class="row seven-cols">
      <div class="col-sm-1" v-for="day in  getDaysInMonth() " :key="day">
        <div class="row">
          <h2>{{ day }}</h2>
          <ul class="col-12 list-unstyled">
            <li v-for="event in findEvent(day)" :key="event.id">
              <router-link :to="'/events/'+event.id">{{ event.title }}</router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="fixed-bottom d-flex justify-content-end">
      <router-link :to="'/events/add'" class="btn-danger btn m-2">add new event</router-link>
    </div>
  </div>
  {{getAllEvents.length}}
</template>

<style scoped>
@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14%;
    max-width: 14% !important;
    flex: none !important;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14%;
    max-width: 14% !important;
    flex: none !important;
  }
}

.seven-cols div.col-sm-1 {
  border: 1px solid silver;
  min-height: 14vh;
}
</style>