<script>
import {mapGetters} from "vuex"
import AppEventForm from "@/components/AppEventForm.vue";

export default {
  // props: {idNews: String},
  name: "ViewEvent",
  components: {AppEventForm},
  computed: mapGetters(['getEvent']),
  data() {
    return {
      idEvent: this.$route.params.idEvent,
      showEdit: false
    }
  },
  methods: {

  },
  mounted() {
    this.$store.dispatch('getEventAction', this.idEvent)

  },
}
</script>
<template>
  <div class="container">
    <hr>
    <div class="row">
      <h2 class="text-success">{{ getEvent.title }}</h2>
      <div class="col-md-6"><span>date start </span><strong>{{ getEvent.startDate.toLocaleDateString()}} {{ getEvent.startDate.toLocaleTimeString()}}</strong></div>
      <div class="col-md-6"><span>date end </span><strong>{{ getEvent.endDate.toLocaleDateString() }}  {{ getEvent.endDate.toLocaleTimeString()}}</strong></div>
      <div class="col-md-6"><span>location </span><strong>{{ getEvent.location }}</strong></div>
      <p class="pt-4">
        {{ getEvent.description }}
      </p>
    </div>
    <div class="row" >
      <app-event-form ></app-event-form>
    </div>
  </div>
</template>
<style scoped>

</style>