<script>
import AppEventForm from "@/components/AppEventForm.vue";

export default {
  // props: {idNews: String},
  name: "ViewAddNewEvent",
  components: {AppEventForm},
  data() {
    return {
     }
  },
  methods: {

  },

}
</script>

<template>
  <div class="container">
    <div class="row">
      <div class="h2 text-info-emphasis text-center">Create new event</div>
      <app-event-form>
      </app-event-form>
    </div>
  </div>

</template>

<style scoped>

</style>