<script>
import {mapGetters} from "vuex";
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import router from "@/router";

export default {
  name: "AppEventForm",
  components: {VueDatePicker},
  computed: mapGetters(['getEvent']),
  data() {
    return {
      dateFormat: 'dd.MM.yyyy hh:mm',
      errors: {},
      idEvent: this.$route.params.idEvent,
    }
  },
  methods: {
    submitForm() {
      this.validationForm(this.getEvent)
      if (Object.keys(this.errors).length ===0 && this.idEvent) {
        this.$store.dispatch('updateEventAction', this.getEvent)
        router.push('/')
      } else if (Object.keys(this.errors).length===0 && !this.idEvent) {
        this.$store.dispatch('createEventAction', this.getEvent)
        router.push('/')
      }

    },
    validationForm(event) {
      console.log("validationForm")
      this.errors = {};
      console.log(event)
      console.log(event.startDate)
      console.log(event.endDate)
      if (!event.title) {
        this.errors.title = "enter title"
      }
      if (isNaN (event.startDate)) {
        this.errors.startDate = "enter startDate"
      }
      if (isNaN (event.endDate)) {
        this.errors.endDate = "enter endDate"
      }
      if (event.startDate > event.endDate) {
        this.errors.startDate = "date start must large date end"
      }
    },
    deleteEvent() {
      this.$store.dispatch('deleteEventAction', this.getEvent.id)
      this.$store.dispatch('getAllEventAction')
      router.push('/')
    }

  },
  mounted() {
    if (!this.idEvent) {
      this.$store.dispatch('emptyEvent', {})
    }
  }

}
</script>

<template>
  <form @submit.prevent="submitForm">
    <div class="mb-3">
      <label for="title" class="form-label">title</label>
      <input v-model="getEvent.title" type="text" class="form-control" id="title" placeholder="title">
      <p class="error"><span v-if="errors.title">{{ errors.title }}</span></p>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="title" class="form-label">startDate</label>
        <VueDatePicker v-model="getEvent.startDate"    :format="dateFormat"></VueDatePicker>
        <p class="error"><span v-if="errors.startDate">{{ errors.startDate }}</span></p>
      </div>
      <div class="col-md-6">
        <label for="title" class="form-label">endDate</label>
        <VueDatePicker v-model="getEvent.endDate"    :format="dateFormat"></VueDatePicker>
        <p class="error"><span v-if="errors.endDate">{{ errors.endDate }}</span></p>
      </div>

    </div>
    <div class="mb-3">
      <label for="description" class="form-label">description</label>
      <textarea v-model="getEvent.description" class="form-control" id="description" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">location</label>
      <input v-model="getEvent.location" type="text" class="form-control" id="title" placeholder="location">
    </div>
    <button type="submit" class="btn-success btn" @c.prevent>save</button>
    <button class="btn-danger btn m-2" @click="deleteEvent" v-if="this.idEvent">delete</button>
  </form>
</template>

<style scoped>
.error {
  min-height: 1.7vh;
  color: rgb(220, 53, 69) !important;
}
</style>