<template>
  <div class="container">
    <div class="row pb-4">
      <h1 class="text-center">Simple Calendar System</h1>
    </div>
  </div>
<RouterView>

</RouterView>
</template>

<script>


export default {
  name: 'App',
  components: {

  }
}
</script>

<style>

</style>
